@{
    Movie movie = Model;
}

@section menu
{
    @await Component.InvokeAsync("Genres")
}

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="/Movie/Detail/@movie.Id">
                <img src="/img/@movie.ImageUrl" class="card-img-top" alt="@movie.Title">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p>@movie.Description</p>
                <p>@movie.Director</p>
                <p>@movie.Genre.Name</p>
                <p>@movie.Popularity</p>
                <p>
                    @if(movie.Actors != null && movie.Actors.Count > 0)
                    {
                        <ul>
                            @foreach (String actor in movie.Actors)
                            {
                                <li>@actor</li>
                            }

                        </ul>
                    }
                    

                </p>
            </div>
        </div>
    </div>
</div>

