@{
    Movie movie = Model;
}





<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="/Movie/Detail/@movie.Id">
                <img src="/img/@movie.ImageUrl" class="card-img-top" alt="@movie.Title">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>  
                <p>
                    <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id" class="btn btn-info">Detail</a>
                    <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id" onclick="return confirm('are you sure')"  class="btn btn-danger">Delete</a>
                    <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id"  class="btn btn-warning">Update</a>


                </p>
            </div>
        </div>
    </div>
</div>

